<?xml version="1.0"?>
<model>
  <name>peter_robot</name>
  <version>1.0</version>
  <description>
    Peter URDF model exported from SolidWorks to URDF Exporter.
  </description>
   <sdf version='1.5'>peter.sdf</sdf>
  <author>
    <name>Stephen Brawner</name>
    <email>brawner@gmail.com</email>
  </author>
  <maintainer>
    <name>Stephen Brawner</name>
    <email>brawner@gmail.com</email>
  </maintainer>
  <license>TODO: Choose a license</license>
  
  <depend> <!-- List of ROS dependencies -->
    <rosdep>roscpp</rosdep>
    <rosdep>rospy</rosdep>
    <rosdep>std_msgs</rosdep>
  </depend>

  <export>
    <gazebo>
      <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control" />
    </gazebo>
  </export>

  <files>
  
    <uri>model://peter_robot/meshes/CoxisLD_link.STL</uri>
    <uri>model://peter_robot/meshes/CoxisLU_link.STL</uri>
    <uri>model://peter_robot/meshes/CoxisRD_link.STL</uri>
    <uri>model://peter_robot/meshes/CoxisRU_link.STL</uri>
    
    <uri>model://peter_robot/meshes/Cuerpo_link.STL</uri>
    
    <uri>model://peter_robot/meshes/FemurLD_link.STL</uri>
    <uri>model://peter_robot/meshes/FemurLU_link.STL</uri>
    <uri>model://peter_robot/meshes/FemurRD_link.STL</uri>
    <uri>model://peter_robot/meshes/FemurRU_link.STL</uri>
    
    <uri>model://peter_robot/meshes/RuedaLD_link.STL</uri>
    <uri>model://peter_robot/meshes/RuedaLU_link.STL</uri>
    <uri>model://peter_robot/meshes/RuedaRD_link.STL</uri>
    <uri>model://peter_robot/meshes/RuedaRU_link.STL</uri>
    
    <uri>model://peter_robot/meshes/TibiaLD_link.STL</uri>
    <uri>model://peter_robot/meshes/TibiaLU_link.STL</uri>
    <uri>model://peter_robot/meshes/TibiaRD_link.STL</uri>
    <uri>model://peter_robot/meshes/TibiaRU_link.STL</uri>
  
  </files>
</model>
