<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="peter_robot">

    <!-- Definiciones de variables compartidas -->

   <!-- Colores -->
    <xacro:property name="base_color" value="0.27 0.27 0.27 1.0"/>  <!-- Gris metálico más oscuro -->
    <xacro:property name="coxis_color" value="1.0 0.6 0.0 1.0"/>  <!-- Naranja Seguridad -->
    <xacro:property name="femur_color" value="1.0 0.6 0.0 1.0"/>
    <xacro:property name="tibia_color" value="1.0 0.6 0.0 1.0"/>
    <xacro:property name="rueda_color" value="0.0 0.0 0.0 1.0"/>  <!-- Negro mate -->
    <xacro:property name="sensor_color" value="0.0 0.0 0.0 1.0"/>  <!-- Negro mate -->
    <xacro:property name="headz_color" value="0.18 0.18 0.18 1.0"/> 
    <xacro:property name="heady_color" value="0.18 0.18 0.18 1.0"/>

    <!-- Texturas -->
    <xacro:property name="specular" value="1.0 1.0 1.0 1"/>
    <xacro:property name="ambient" value="1.0 1.0 1.0 1"/>
    <xacro:property name="shininess" value="150.0"/>
    <xacro:property name="metalness" value="0.3"/>
    <xacro:property name="roughness" value="0.0"/>

    <!-- Base Link -->
    <gazebo reference="base_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${base_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <!-- IMU -->
    <gazebo reference="imu_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${sensor_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <!-- LIDAR -->
    <gazebo reference="lidar_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${sensor_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <!-- Rueda Loca -->
    <gazebo reference="RuedaL_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${sensor_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <!-- Coxas -->
    <gazebo reference="CoxisRU_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${coxis_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="CoxisRD_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${coxis_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="CoxisLU_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${coxis_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="CoxisLD_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${coxis_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <!-- Femures -->
    <gazebo reference="FemurRU_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${femur_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="FemurRD_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${femur_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="FemurLU_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${femur_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="FemurLD_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${femur_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <!-- Tibias -->
    <gazebo reference="TibiaRU_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${tibia_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="TibiaRD_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${tibia_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="TibiaLU_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${tibia_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="TibiaLD_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${tibia_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <!-- Ruedas -->
    <gazebo reference="RuedaRU_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${rueda_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="RuedaRD_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${rueda_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="RuedaLU_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${rueda_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="RuedaLD_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${rueda_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <!-- Bumpers -->
    <gazebo reference="BumperRU_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${sensor_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="BumperRD_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${sensor_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="BumperLU_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${sensor_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="BumperLD_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${sensor_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <!-- Head -->
    <gazebo reference="Head_z_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${headz_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="Head_y_link">
        <visual>
            <material>
            <ambient>${ambient}</ambient>
            <specular>${specular}</specular>
            <diffuse>${heady_color}</diffuse>
            <pbr>
                <metal>
                <metalness>${metalness}</metalness>
                <roughness>${roughness}</roughness>
                </metal>
            </pbr>
            </material>
        </visual>
    </gazebo>

</robot>
