<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="peter_robot">

    <!-- Modelo y Controlador -->
    <xacro:include filename="peter.urdf" />
    <xacro:include filename="peter_control_plugin.xacro" />

    <!-- CAMARA -->
    <gazebo reference="Head_y_link">
        <sensor name="camera" type="camera">
            <pose>0 0 0 0 0 0</pose> 
            <update_rate>30</update_rate>  
            <camera>
                <horizontal_fov>1.047</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <topic>/camera/image_raw</topic>
        </sensor>
    </gazebo>

    <!-- IMU -->
    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <pose>0 0 0 0 0 0</pose>
            <update_rate>100</update_rate>
            <imu>
                <angular_velocity>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.02</stddev>
                    </noise>
                </angular_velocity>
                <linear_acceleration>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.02</stddev>
                    </noise>
                </linear_acceleration>
            </imu>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <topic>/imu/data</topic>
        </sensor>
    </gazebo>

    <!-- LIDAR -->
    <gazebo reference="lidar_link">
        <material>Gazebo/Black</material>

        <sensor name="laser" type="gpu_lidar">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>false</visualize>
            <update_rate>10</update_rate>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
            </lidar>
            <topic>scan</topic>
            <gz_frame_id>laser_frame</gz_frame_id>
        </sensor>
    </gazebo>

    <!-- Bumper Sensor RU -->
    <gazebo reference="BumperRU_link">
        <sensor name="bumper_TibiaRU" type="contact">
        <pose>0 0 0 0 0 0</pose>
        <update_rate>50</update_rate>
        <contact>
            <collision>BumperRU_link_collision</collision>
        </contact>
        <always_on>true</always_on>
        <visualize>true</visualize>
        <topic>/bumper/TibiaRU</topic>
        </sensor>
    </gazebo>

    <!-- Bumper Sensor RD -->
    <gazebo reference="BumperRD_link">
        <sensor name="bumper_TibiaRD" type="contact">
        <pose>0 0 0 0 0 0</pose>
        <update_rate>50</update_rate>
        <contact>
            <collision>BumperRD_link_collision</collision>
        </contact>
        <always_on>true</always_on>
        <visualize>true</visualize>
        <topic>/bumper/TibiaRD</topic>
        </sensor>
    </gazebo>

    <!-- Bumper Sensor LU -->
    <gazebo reference="BumperLU_link">
        <sensor name="bumper_TibiaLU" type="contact">
        <pose>0 0 0 0 0 0</pose>
        <update_rate>50</update_rate>
        <contact>
            <collision>BumperLU_link_collision</collision>
        </contact>
        <always_on>true</always_on>
        <visualize>true</visualize>
        <topic>/bumper/TibiaLU</topic>
        </sensor>
    </gazebo>

    <!-- Bumper Sensor LD -->
    <gazebo reference="BumperLD_link">
        <sensor name="bumper_TibiaLD" type="contact">
        <pose>0 0 0 0 0 0</pose>
        <update_rate>50</update_rate>
        <contact>
            <collision>BumperLD_link_collision</collision>
        </contact>
        <always_on>true</always_on>
        <visualize>true</visualize>
        <topic>/bumper/TibiaLD</topic>
        </sensor>
    </gazebo>

</robot>